.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  padding-left: 50px;
  list-style-type: none;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.res-card {
  margin: 5px;
  width: 200px;
  height: 300px;
  padding: 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card:hover {
  border: 1px solid black;
}

.search-bar {
  padding: 10px;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}
